<div class="container">
  <div class="row">
    <!-- サイドメニュー -->
    <div class="col-xl-3 col-md-4">
      <div class="bg-light p-3 rounded shadow-sm mb-3 text-center">
        <h5 class="font-weight-bold my-2">マイページ</h5>
      </div>

      <div class="card shadow-sm p-3 mb-3">
        <h6 class="font-weight-bold">配送先</h6>
        <%= link_to "一覧を見る", addresses_path, class:"btn btn-primary btn-sm w-100 mt-2" %>
      </div>

      <div class="card shadow-sm p-3">
        <h6 class="font-weight-bold">注文履歴</h6>
        <%= link_to "一覧を見る", orders_path, class:"btn btn-primary btn-sm w-100 mt-2" %>
      </div>
    </div>

    <!-- メインコンテンツ -->
    <div class="col-xl-9 col-md-8">
      <div class="card shadow-sm p-4">
        <div class="d-flex align-items-center mb-3">
          <h4 class="font-weight-bold mb-0">登録情報</h4>
          <%= link_to "編集する", customers_information_edit_path, class:"btn btn-success btn-sm ml-3 px-3" %>
        </div>

        <table class="table table-hover">
          <tbody>
            <tr><td class="bg-light font-weight-bold text-center" style="width: 200px;">氏名</td><td><%= @customer.full_name %></td></tr>
            <tr><td class="bg-light font-weight-bold text-center">カナ</td><td><%= @customer.full_name_kana %></td></tr>
            <tr><td class="bg-light font-weight-bold text-center">郵便番号</td><td><%= @customer.postal_code %></td></tr>
            <tr><td class="bg-light font-weight-bold text-center">住所</td><td><%= @customer.address %></td></tr>
            <tr><td class="bg-light font-weight-bold text-center">電話番号</td><td><%= @customer.telephone_number %></td></tr>
            <tr><td class="bg-light font-weight-bold text-center">メールアドレス</td><td><%= @customer.email %></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>