<h1>Admin::Items#new</h1>
<p>Find me in app/views/admin/items/new.html.erb</p>
<h1>新規商品登録</h1>
<%= form_with model: @item, url: admin_items_path, local: true do |f| %>
  <p>商品名: <%= f.text_field :name %></p>
  <p>ジャンルID: <%= f.number_field :genre_id %></p>
  <p>価格: <%= f.number_field :price %></p>
  <p>販売ステータス: <%= f.check_box :is_active %> 販売中</p>
  <p>画像アップロード: <%= f.file_field :image %></p>
  <p>説明: <%= f.text_area :introduction %></p>
  <%= f.submit '登録' %>
<% end %>

<%= link_to '戻る', admin_items_path %>