<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>
<h1><%= @item.name %></h1>
<% if @item.image.attached? %>
  <%= image_tag @item.image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image.jpg', size: "200x200" %>
<% end %>
<p>ジャンルID: <%= @item.genre_id %></p>
<p>価格: <%= (@item.price * 1.1).floor %>円（税込）</p>
<p>販売ステータス: <%= @item.is_active ? '販売中' : '販売停止' %></p>
<p>説明: <%= @item.introduction %></p>
<p>登録日時: <%= @item.created_at %></p>
<p>更新日時: <%= @item.updated_at %></p>
<%= link_to '編集', edit_admin_item_path(@item) %>
<%= link_to '一覧へ戻る', admin_items_path %>