<div class="container">
    <h4 class="m-4">
      <span style="bg-light px-2">
        <%= @customer.full_name %>さんの会員情報編集
      </span>
    </h4>

  <div class="row">
    <div class="col-8">
      <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
        <table class=" table table-borderless">
          <tbody>
            <tr>
              <td>会員ID</td>
              <td><%= @customer.id %></td>
            </tr>
            <tr>
              <td>氏名</td>
              <td><%= f.text_field :last_name %>
                  <%= f.text_field :first_name %>
              </td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td><%= f.text_field :last_name_kana %>
                  <%= f.text_field :first_name_kana %>
              </td>
            </tr>
            <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= f.text_area :address, size: "50" %></td>
            </tr>
            <tr>
              <th><%= f.label :電話番号 %></th>
              <td><%= f.text_field :telephone_number %></td>
            </tr>
            <tr>
              <th><%= f.label :メールアドレス %></th>
              <td><%= f.text_field :email,size: "50" %></td>
            </tr>
              <th><%= f.label :会員ステータス %></th>
              <td><%= f.radio_button :is_customer_status, true %>
                  <%= f.label :is_customer_status, "有効" %>
                  <%= f.radio_button :is_customer_status, false %>
                  <%= f.label :is_customer_status, "退会" %>
              </td>
          </tbody>
            <tr>
              <td></td>
              <td><%= f.submit "変更を保存する", class: "btn btn-success" %></td>
            </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>