<div class="container">
    <h4 class="m-4">
      <span style="bg-light px-2">
        注文履歴詳細
      </span>
    </h4>
    <div class="row">
      <div class="col-sm-8">
        <table class="table table-borderless">
          <tr>
            <td>購入者</td>
            <td><%= @order.customer.full_name %></td>
          </tr>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>〒<%= @order.postal_code %> <%= @order.address %></td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
          </tr>
          <tr>
            <td>注文ステータス</td>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order), local: true, class: "form-row" do |f| %>
                <%= f.select :status, Order.statuses.keys.map { |key| [Order.statuses_i18n[key], key] }, class: "mr-4" %>
                <span style="margin: 0 10px;"></span>
                <%= f.submit "更新", class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  
<!-- 注文した商品 -->
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.add_tax_price.to_i.floor.to_s(:delimited, delimiter: ',') %>円</td>
              <td><%= order_detail.amount %></td>
              <td><%= (order_detail.add_tax_price.to_i * order_detail.amount).floor.to_s(:delimited, delimiter: ',') %>円</td>
              <td>
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), local: true, class: "form-row" do |f| %>
                  <%= f.select :making_status, OrderDetail.making_statuses.keys.map { |key| [OrderDetail.making_statuses_i18n[key], key] }, class: "mr-4" %>
                  <span style="margin: 0 10px;"></span>
                  <%= f.submit "更新", class: "btn btn-sm btn-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <!-- 金額 -->
    <div class="col-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><strong>商品合計</strong></td>
            
            <td><%= @order.total_payment.to_i.to_s(:delimited) %> 円</td>
          </tr>
          <tr>
            <td><strong>送料</strong></td>
            <td><%= @order.shipping_cost.to_i.to_s(:delimited) %> 円</td>
          </tr>
          <tr>
            <td><strong>請求金額合計</strong></td>
            <td><%= (@order.total_payment.to_i + @order.shipping_cost.to_i).to_s(:delimited, delimiter: ',') %> 円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
