<div class="container">
  <h4 class="m-4"><span style="background-color:#eeeeee">配送先登録・一覧</span></h4>
  <%= form_with model: @address, url: addresses_path do |f| %>
    <div class="row">
      <div class="col-11">
        <table class="table table-borderless">
          <tobody>
            <tr>
              <td class="col-3">
                <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
              </td>
              <td>
                <%= f.text_field :postal_code, placeholder: "0000000000" %>
              </td>
            </tr>
            <tr>
              <td class="col-3">
                <%= f.label :address, "住所" %>
              </td>
              <td>
                <%= f.text_field :address, placeholder: "東京都渋谷区" %>
              </td>
            </tr>
            <tr>
              <td class="col-3">
                <%= f.label :name, "宛名" %>
              </td>
              <td>
                <%= f.text_field :name, placeholder: "桜木花道" %>
              </td>
              <td>
                <%= f.submit "新規登録", class:"btn btn-success px-4" %>
              </td>
            </tr>
          </tobody>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-9">
      <table class="table table-bordered">
        <thead class= "thead-light" >
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |f| %>
            <tr>
              <td><%= f.postal_code %></td>
              <td><%= f.address %></td>
              <td><%= f.name %></td>
              <td>
                <%= link_to "編集する", edit_address_path(f), class: "glyphicon glyphicon-pencil btn-sm btn-success" %>
                <%= link_to "削除する", address_path(f), method: :delete, data: { confirm: '本当に消しますか？'}, class: "glyphicon glyphicon-trash btn-sm btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



