<div class="container">
  <h4 class="m-4">
    <span style="bg-light px-2">配送先登録・一覧</span>
  </h4>
  <%= form_with model: @address, url: addresses_path do |f| %>
    <div class="row">
      <div class="col-11">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="col-3">
                <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
              </td>
              <td>
                <%= f.text_field :postal_code, placeholder: "0000000000", class: "form-control w-50" %>
              </td>
            </tr>
            <tr>
              <td class="col-3">
                <%= f.label :address, "住所" %>
              </td>
              <td>
                <%= f.text_field :address, placeholder: "東京都渋谷区", class: "form-control" %>
              </td>
            </tr>
            <tr>
              <td class="col-3">
                <%= f.label :name, "宛名" %>
              </td>
              <td>
                <%= f.text_field :name, placeholder: "桜木花道", class: "form-control w-50" %>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    <div class="text-center mb-5">
      <%= f.submit "新規登録", class:"btn btn-success px-4" %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-10">
      <table class="table table-bordered">
        <thead class= "thead-light text-center" >
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th class="text-end"></th> 
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |f| %>
            <tr>
              <td><%= f.postal_code %></td>
              <td><%= f.address %></td>
              <td><%= f.name %></td>
              <td>
                <div class="d-flex justify-content-center" style="gap: 30px;">
                  <%= link_to "編集する", edit_address_path(f), class: "btn btn-sm btn-outline-success" %>
                  <%= link_to "削除する", address_path(f), method: :delete, data: { confirm: '本当に消しますか？'}, class: "btn btn-sm btn-outline-danger" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



