<div class = "container">
  <div class = "row">
    <h3 class= "text-center">ようこそ、ながのCAKEへ!<br>
      このサイトはケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。<br>
    </h3>
  </div>
  <!-- トップ画像の表示 -->
  <div class="top-image-container text-center">
    <%= image_tag 'top2.jpg', class: 'top-image' %>
  </div>

  <h4>新着商品一覧</h4><!-- カードを正方形に変更して画像が横伸びしないように -->
    <div class="card-list-container d-flex flex-wrap justify-content-center">
      <% @items.each do |item| %>
        <div class="card m-3 shadow-lg" style="width: 200px; height: 280px;">
          <%= link_to item_path(item) do %>
            <% if item.image.attached? %>
              <%= image_tag item.image, class: "card-img-top", style: "width: 100%; height: 200px; object-fit: cover;" %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: "card-img-top", style: "width: 100%; height: 200px; object-fit: cover;" %>
            <% end %>
          <% end %>

        <div class="card-body text-center"><!-- 文字数多くてはみ出る場合は省略 -->
        <h5 class="card-title text-truncate" style="max-width: 180px; font-size: clamp(12px, 1.5vw, 16px);">
          <%= item.name %>
        </h5>
        <p class="card-price" style="font-size: clamp(12px, 1.2vw, 14px);"><%= (item.price * 1.1).floor %>円</p>
      </div>
        </div>
      <% end %>
    </div>

  <div>
    <%= link_to "すべての商品を見る >", items_path, class: "btn btn-info" %>
  </div>
</div>
