<div>
  <h2>ようこそ、ながのCAKEへ!<br>
    このサイトはケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。<br>
  </h2>
</div>

<div>
  <p>新着商品一覧</p>
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "200x200" %>
        <% end %>
      <% end %>
      <p><%= item.name %></p>
      <p><%= item.price %>円</p>
  <% end %>
  
</div>

<div>
    <%= link_to "すべての商品を見る >", items_path %>
</div>