<div class = "container">
  <div class = "row">
    <h2>ようこそ、ながのCAKEへ!<br>
      このサイトはケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。<br>
    </h2>
  </div>

  <h4>新着商品一覧</h4>
    <div class = "card-list-container ">
      <% @items.each do |item| %>
      <div class="card w-50 mx-auto mt-5 shadow-lg">
          <%= link_to item_path(item) do %>
            <% if item.image.attached? %>
              <%= image_tag item.image, size: "100x100", class: "card-img-top"; %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "100x100", class: "card-img-top"; %>
            <% end %>
          <% end %>

        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title"><%= item.name %></h5>
              <p><%= item.price %>円</p>
            </div>
          </div>
        </div>

      </div>
      <% end %>
  </div>

  <div>
    <%= link_to "すべての商品を見る >", items_path, class: "btn btn-info" %>
  </div>
</div>
