<div class = "container">
  <div>
    <h2 class="m-2">ようこそ、ながのCAKEへ!</h2>
      このサイトはケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。<br>
  </div>
  <div class ="row mx-auto mt-4">
    <div class ="col">
      <h4> 新着商品</h4>
    </div>
    <div class = "col">
      <%= link_to "すべての商品を見る >", items_path, class: "btn-sm btn btn-outline-success" %>
    </div>
  </div>

    <div class = "card-list-container ">
      <% @items.each do |item| %>
      <div class="card w-50 mx-auto mt-5 shadow-lg">
          <%= link_to item_path(item) do %>
            <% if item.image.attached? %>
              <%= image_tag item.image, size: "200x200", class: "card-img-top"; %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "200x200", class: "card-img-top"; %>
            <% end %>
          <% end %>

        <div class="card-body">
          <div class="row">
              <h5 class="card-title mx-auto "><%= item.name %></h5>
              <p class = "card-price mx-auto"><%= (item.price * 1.1).floor %>円</p>
          </div>
        </div>

      </div>
      <% end %>
