<h2>仮注文情報確認</h2>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
    <% @cart_items.each do |cart_item| %>
      <tbody>
        <tr>
          <td><!--写真と商品名-->
            <% if cart_item.item.present? && cart_item.item.image.present? %>
              <%= image_tag cart_item.item.image, size: "50x50" %>
            <% else %>
              <%= image_tag "no_image.jpg", size: "50x50" %> <!-- デフォルト画像を用意 -->
            <% end %>
            <br>
            <%= cart_item.item&.name || "商品情報がありません" %>
          </td>
          <td><!--税込単価-->
            ¥<%= cart_item.tax_included_price %>
          </td>
          <td><!--数量-->
            <%= cart_item.amount %>
          </td>
          <td><!--小計-->
            ¥<%= cart_item.tax_included_price * cart_item.amount %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <table class='table table-hover table-inverse'>
  <tbody>
    <tr>
      <td>商品合計</td> 
      <td>¥<%= @total %></td>
    </tr>
    <tr>
      <td>送料</td>
      <td>¥<%= @shipping_cost %></td>
    </tr>
    <tr>
      <td>ご請求額</td>
      <td>¥<%= @total + @shipping_cost %></td>
    </tr>
  </tbody>
</table>

<div>
  <h2>支払い方法</h2><!--日本語対応　途中-->
  <p><%= @order.payment_method %></p>
</div>

<div>
  <h2>お届け先</h2>
    <p>〒<%= @order.postal_code %>
    <p><%= @order.address %><p>
    <p><%= @order.name %>様<p>
</div>

<div>
  <h2>仮 注文情報入力画面に戻る</h2>
</div>


<%#= submit_tag "仮 注文を確定する", orders_complete_path, class: "btn btn-success" %>
