<div class="container">
  <div class="text-center">
    <%= image_tag "ながのケーキロゴ1.png", alt: "Logo", class: "mb-3", width: 100 %>
  </div>
  <h2 class="mb-3">ログイン</h2>
  <div class="mt-4" style="margin-left: 48px;">
    <h5><span class="px-2">会員の方はこちらからログイン</span></h5>
  </div>

  <div class="mt-5 mx-auto w-50">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless w-100">
        <tr>
          <td class="text-end fw-bold">メールアドレス</td>
          <td><%= f.email_field :email, class: "form-control w-100", autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
        </tr>
        <tr>
          <td class="text-end fw-bold">パスワード</td>
          <td><%= f.password_field :password, class: "form-control w-100", autocomplete: "current-password" %></td>
        </tr>
      </table>

      <div class="text-center mt-3">
        <%= f.submit "ログイン", class: "btn btn-sm btn-outline-success" %>
      </div>
    <% end %>
  </div>

  <hr class="my-4">

  <div class="mt-4">
    <h5><span class="px-2">会員登録がお済みでない方</span></h5>
    <div class="mt-4" style="margin-left: 48px;">
      <p><%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。</p>
    </div>
  </div>
</div>
