<h1>商品一覧</h1>
<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item_path(item) do %>
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "200x200" %>
        <% end %>
        <p><%= item.name %></p>
      <% end %>
      <p>税込価格: <%= (item.price * 1.1).floor %>円

    </li>
  <% end %>
</ul>