<div class = "container">
    <h1>商品一覧</h1>

    <div class = "row">
      <% @items.each do |item| %>
        <div class = "col">
          <div class="card shadow-lg">
            <div class="card-body">
              <%= link_to item_path(item) do %>
                <% if item.image.attached? %>
                  <%= image_tag item.image, size: "200x200", class: "card-img-top"; %>
                <% else %>
                  <%= image_tag 'no_image.jpg', size: "200x200", class: "card-img-top"; %>
                <% end %>
              <% end %>
              <h5 class="card-title mx-auto "><%= item.name %></h5>
              <p class = "card-text mx-auto"><%= (item.price * 1.1).floor %>円</p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <div class = >
    <%= paginate @items %>
  </div>
</div>
