<h1><%= @item.item_name %></h1>
<%= link_to item_path(item) do %>
  <% if item.image.attached? %>
    <%= image_tag item.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image.jpg', size: "200x200" %>
  <% end %>
<% end %>
<p>価格: <%= @item.price %>円</p>
<p>説明: <%= @item.item_details %></p>
<%= link_to '戻る', items_path %>