<!--カスタマーログイン時-->
<% if customer_signed_in? %>
  <li>
    ようこそ、<%= current_customer.last_name %>さん！
  </li>

  <li>
    <%= link_to "マイページ", my_page_path %>
  </li>
  <li>
    <%= link_to "商品一覧", items_path %>
  </li>
  <li>
    <%= link_to "カート", cart_items_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delette %>
  </li>

<!--管理者ログイン時-->
<% elsif admin_signed_in? %>
  <li>
    <%= link_to "商品一覧", admin_items_path %>
  </li>
  <li>
    <%= link_to "会員一覧", admin_customers_path %>
  </li>
  <li>
    <%= link_to "注文履歴一覧",  admin_order_path %>
  </li>
  <li>
    <%= link_to "ジャンル一覧", admin_genres_path %>
  </li>
  <li>
    <%= link_to "ログアウト", destroy_adimin_session_path, method: :delette %>
  </li>
<!--それ以外-->
<% else %>
  <li>
    <%= link_to "About", about_path %>
  </li>
  <li>
    <%= link_to "商品一覧", items_path %>
  </li>
  <li>
    <%= link_to "新規会員登録", new_customer_registration_path %>
  </li>
  <li>
    <%= link_to "ログイン", new_customer_session_path %>
  </li>
<% end %>
