<!DOCTYPE html>
<html>
  <head>
    <title>SairyoNaganocakeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/41be0f2f49.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if customer_signed_in? %>
    <div id = "header" >
      <%= render "layouts/header" %>
    </div id = "header">

    <div>
      <!--カスタマー用body-->
      <%= yield %>
    </div>
  
    <div id = "footer" >
      <%= render "layouts/footer" %>
    </div id = "footer">

  <% elsif admin_signed_in? %>
    <div id = "header" >
      <%= render "layouts/header" %>
    </div id = "header">

    <div>
      <!--管理者用body-->
      <%= yield %>
    </div>
  
    <div id = "footer" >
      <%= render "layouts/footer" %>
    </div id = "footer">

  <% else %>
    <div id = "header" >
      <%= render "layouts/header" %>
    </div id = "header">

    <div>
      <!--body-->
      <%= yield %>
    </div>
  
    <div id = "footer" >
      <%= render "layouts/footer" %>
    </div id = "footer">
  <%end%>
</html>
